* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.open-btn {
  width: 25%;
  max-width: 130px;
  background-color: transparent;
  outline: none;
  border: none;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.open-btn:hover {
  color: gray;
}
.open-btn img {
  width: 100%;
}

.open-btn p {
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: #fc0 1px 0 10px !important;
}

.overflow {
  width: 100vw;
  height: 100vh;
  background-color: rgba(76, 76, 77, 0.611);
  position: fixed;
  top: 0;
  display: none;
  z-index: 10;
}

.pop-up {
  padding: 30px 0;
  margin: 5% auto;
  display: none;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  border-radius: 20px;
  position: relative;
  background-color: rgba(189, 187, 187, 0.678);
  border-radius: 20px;
  border: 1px solid rgba(149, 149, 149, 0.25);
  box-shadow: 0 0 10px 1px rgba(255, 252, 252, 0.25);
  backdrop-filter: blur(15px);
  z-index: 20;
  /* margin-top: 4% !important; */
}
.box-logo {
  position: absolute;
  top: 0;
  width: 15%;
  max-width: 75px;
  background-color: rgb(249, 249, 249);
  box-shadow: 0 0 10px 1px rgba(255, 252, 252, 0.25);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding-bottom: 5px;
}
.logo {
  max-width: 65px;
  min-width: 45px;
}

.book {
  position: relative;
  width: 350px;
  height: 500px;
  transition: transform 0.8s;
  margin-top: 10px;
}

.button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  padding: 2px;
  border-radius: 20px;
  border: none;
}

.close {
  width: 30px;
  background-color: #e8c0c0;
  padding: 2px;
  border-radius: 50%;
}

.close:hover {
  scale: 1.1;
  /* opacity: 50%; */
  background-color: #ed4c4c;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front,
.back {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 1.5s;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid rgb(178, 176, 176);
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-content {
  transform: rotateY(180deg);
}

.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

.w-svg {
  width: 10px;
}

.buttons {
  border: none;
  margin: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: transform 1.5s;
  z-index: 150;
}

.buttons:focus {
  outline: none;
}

.icon-btn:hover {
  opacity: 60%;
}

#p1 {
  z-index: 5;
}

#p2 {
  z-index: 4;
}

#p3 {
  z-index: 3;
}

#p3 {
  z-index: 2;
}

#p5 {
  z-index: 1;
}

.img-pdf {
  width: 100%;
  height: 100%;
}

/* Responsive Design */
@media (min-width: 901px) {
  .book {
    width: 37%;
    height: 440px;
  }
  .pop-up {
    max-width: 70%;
    height: 550px;
  }
  .w-svg {
    width: 20px;
  }
}
@media (max-width: 900px) {
  .book {
    width: 37%;
    height: 450px;
  }
  .pop-up {
    max-width: 90%;
    height: 600px;
  }
  .w-svg {
    width: 15px;
  }
}
@media (max-width: 400px) {
  .book {
    width: 37%;
    height: 300px;
  }
  .pop-up {
    max-width: 90%;
    height: 400px;
  }
}
